<footer class="">
  <nav class="">
    <div class="">
      <a class="" href="./">
        <picture>
          <source srcset="./assets/images/logo.png?as=avif&height=50, ./assets/images/logo.png?as=avif&height=100 2x" type="image/avif">
          <img src="./assets/images/logo.png?height=50" alt="UOC Cybersecurity Congress logo">
        </picture>
      </a>
      <div class="">
        <ul class="" id="footer-navbar">
          <li class="">
            <a class="" href="./">Speakers</a>
          </li>
          <li class="">
            <a class="" href="./news.html">News</a>
          </li>
        </ul>
      </div>
      <div class="">
        <ul class="">
          <li class="">
            <a href="#">
              <i class="fa-brands fa-google-plus-g"></i>
            </a>
          </li>
          <li class="">
            <a href="#">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
          <li class="">
            <a href="#">
              <i class="fa-brands fa-square-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
