<footer class="relative container mx-auto px-3">
  <nav class="border-t border-ternary py-2">
    <div class="flex justify-between px-3">
      <a class="my-auto hover:brightness-110" href="./">
        <picture>
          <source srcset="./assets/images/logo.png?as=avif&height=50, ./assets/images/logo.png?as=avif&height=100 2x" type="image/avif">
          <img src="./assets/images/logo.png?height=50" alt="UOC Cybersecurity Congress logo">
        </picture>
      </a>
      <div class="my-auto">
        <ul class="flex flex-col sm:flex-row gap-2 sm:gap-4" id="footer-navbar">
          <li class="inline">
            <a class="hover:text-ternary" href="./">Speakers</a>
          </li>
          <li class="inline">
            <a class="hover:text-ternary" href="./news.html">News</a>
          </li>
        </ul>
      </div>
      <div class="my-auto">
        <ul class="flex flex-col sm:flex-row gap-2 sm:gap-4">
          <li class="">
            <a href="#">
              <i class="fa-brands fa-google-plus-g hover:text-ternary"></i>
            </a>
          </li>
          <li class="">
            <a href="#">
              <i class="fa-brands fa-facebook hover:text-ternary"></i>
            </a>
          </li>
          <li class="">
            <a href="#">
              <i class="fa-brands fa-square-twitter hover:text-ternary"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
