<header class="sticky top-0 sm:z-50 border-b border-ternary bg-[#C7D7E3]">
  <nav class="container mx-auto px-3 py-2">
    <div class="flex justify-between">
      <a class="hover:brightness-110" href="./">
        <picture>
          <source srcset="./assets/images/logo.png?as=avif&height=80, ./assets/images/logo.png?as=avif&height=160 2x" type="image/avif">
          <img src="./assets/images/logo.png?height=50" alt="UOC Cybersecurity Congress logo">
        </picture>
      </a>
      <div class="flex justify-end my-auto">
        <ul class="" id="header-navbar">
          <li class="inline">
            <a class="p-2 hover:text-ternary nav-link" href="./">Speakers</a>
          </li>
          <li class="inline">
            <a class="p-2 hover:text-ternary nav-link" href="./news.html">News</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
