<header>
  <nav class="">
    <div class="">
      <a class="" href="./">
        <picture>
          <source srcset="./assets/images/logo.png?as=avif&height=80, ./assets/images/logo.png?as=avif&height=160 2x" type="image/avif">
          <img src="./assets/images/logo.png?height=50" alt="UOC Cybersecurity Congress logo">
        </picture>
      </a>
      <div class="">
        <ul class="" id="header-navbar">
          <li class="">
            <a class="" href="./">Speakers</a>
          </li>
          <li class="">
            <a class="" href="./news.html">News</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
