<main class="container mx-auto px-3 flex-1 overflow-y-auto py-5">
  <h1 class="font-serif text-center">Speakers</h1>
  <div class="grid gap-5 grid-cols-1 min-[400px]:grid-cols-2 min-[720px]:grid-cols-3 w-full">
    <!-- Card 1 -->
    <include src="./views/components/speaker.html" locals='{
      "image": "./assets/images/49944562767_b6d6cb17f7_o.jpg",
      "name": "Keren Hammersley",
      "description": "Keren Hammersley, is an Israeli cybersecurity analyst, writer, and speaker. She is a senior researcher at the Tel Aviv University Interdisciplinary Cyber Research Center."
    }'></include>
    <!-- Card 2 -->
    <include src="./views/components/speaker.html" locals='{
      "image": "./assets/images/Portrait_studio_(52916733310).jpg",
      "name": "Ben Elazari",
      "description": "Ben Elazari is a British consultant, broadcaster, and systems developer. Elazari is known for coining the term podcast."
    }'></include>
    <!-- Card 3 -->
    <include src="./views/components/speaker.html" locals='{
      "image": "./assets/images/50270737751_d67206533c_o.jpg",
      "name": "Jessica Barker",
      "description": "Jessica Barker is an award-winning cybersecurity awareness leader who focuses on the human component of cybersecurity."
    }'></include>
    <!-- Card 4 -->
    <include src="./views/components/speaker.html" locals='{
      "image": "./assets/images/50304097438_c363e43699_o.jpg",
      "name": "Anthony Amore",
      "description": "Anthony Amore is the Director of Security at the Isabella Stewart Gardner Museum and an expert in art theft and museum security."
    }'></include>
    <!-- Card 5 -->
    <include src="./views/components/speaker.html" locals='{
      "image": "./assets/images/49969650158_6d2a6c62a0_o.jpg",
      "name": "Lisa Wagner",
      "description": "Lisa Wagner is a preeminent expert on social engineering and cyber security, having forged her success as the Co-Founder of Red Goat Cyber Security."
    }'></include>
    <!-- Card 6 -->
    <include src="./views/components/speaker.html" locals='{
      "image": "./assets/images/Portrait_studio_Ecole_polytechnique_(49991135407).jpg",
      "name": "Brian Forter",
      "description": "Brian Forte. Established Technology and Security Leader, Compliance Strategist with an engineering pedigree and extensive experience at Amazon Web Services."
    }'></include>
    <!-- More cards ? -->
  </div>
</main>
